mixin searchResult(no)
    div(class="card")
        div(class="box")
            div(class="img" style="width:100px; height:100px")
                - var path = "userImages/"+stylistsDetails[no].Images[0].id+".jpg"
                -var profilePath = "/profile?id="+stylistsDetails[no].id
                a(href=profilePath)
                    img(src= path class="imgcard")

            h2(style="font-size:1.2em") #{stylistsDetails[no].firstName} #{stylistsDetails[no].lastName}
            p(style="font-size:0.8em;") #{stylistsDetails[no].Location.street}, #{stylistsDetails[no].Location.city}, #{stylistsDetails[no].Location.state}
            hr
            div
                span(class="skillSpan") Skills :
                each val in stylistsDetails[no].Skils
                    span(style="font-size:0.8em")= val.skilDescription + ", "

            p Day #{stylistsDetails[no].Price.dayPrice}$ Evening #{stylistsDetails[no].Price.eveningPrice}$
            hr
            p Ratings: #{stylistsDetails[no].rating} /5
            button(type="button" class="btn btn-info") Book now


